@using PRN211_Project_OBS.Controllers
@using PRN211_Project_OBS.Models
@{
    ViewBag.Title = "Index";
    HomeController home = new HomeController();
    GenreController gc = new GenreController();
    List<Book> books = ViewBag.ListBook;
    List<Genre> genres = home.GetGenres();
    List<Book> bestSeller = home.GetBestSellerBook();
    int count = 0;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>A book a day | Give the stress away</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Slick -->
    <link type="text/css" href="~/Content/css/slick.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/slick-theme.css" rel="stylesheet" />

    <!-- nouislider -->
    <link type="text/css" href="~/Content/css/nouislider.min.css" rel="stylesheet" />

    <!-- Font Awesome Icon -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom stlylesheet -->
    <link type="text/css" href="~/Content/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- SERVLET URL -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a href="Home">Home</a></li>
                    @foreach (var item in genres)
                    {
                        <li><a href="Genre?genre_id=@item.id">@item.name</a></li>
                    }
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="Home">Home</a></li>
                        <li>All Categories</li>
                        
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categories</h3>
                        <div class="checkbox-filter">
                            <form action="Filter" method="post">
                                @foreach (var item in genres)
                                {
                                    <div class="input-checkbox">
                                        <input type="checkbox" name="checkCate" id="@item.id" value="@item.id" />
                                        <label for="@item.id">
                                            <span></span>
                                            @item.name
                                        </label>
                                    </div>
                                }
                                <p></p>
                                <div class="search-btn">
                                    <p><input type="submit" value="Filter Here">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Top selling</h3>
                        @foreach (var item in bestSeller)
                        {
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/Content/img/@item.image_url" alt="">
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="BookDetail?id=@item.id">@item.title</a></h3>
                                    <h4 class="product-price">$ @item.price.00</h4>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Price Descending</option>
                                    <option value="1">Price Ascending</option>
                                </select>
                            </label>
                        </div>
                        <!--			<ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        </ul>-->
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->

                    <div id="toggle-tab">
                        <div class="oldest">
                            <div class="row">
                                @foreach (var item in books)
                                {

                                    <div class="col-md-4 col-xs-6">
                                        <form action="#" method="post">
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="~/Content/img/@item.image_url" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <input name="quantity" value="1" hidden>
                                                    <h3 class="product-name"><a href="BookDetail?id=@item.id">@item.title</a></h3>
                                                    <h4 class="product-price">$ @item.price.00</h4>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="product-btns">
                                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                    </div>
                                                </div>
                                                <!--URL PATTERN --> <input name="url" value="" hidden>
                                                <div class="add-to-cart">
                                                    <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    count++;
                                    if (count == 3)
                                    {
                                        <div class="col-md-12"></div>
                                        count = 0;
                                    }
                                }
                            </div>
                        </div>
                        <!-- /store products -->
                        <!-- store bottom filter -->
                        <div class="store-filter clearfix">
                            <span class="store-qty">Showing 6 products per page</span>
                            <ul class="store-pagination" style="display: inline-block">
                                @for (int i = 1; i <= ViewBag.PageSize; i++)
                                {
                                    if (i == ViewBag.CurrentPage)
                                    {
                                        <li class="active">@i</li>
                                    }
                                    else
                                    {
                                        <li><a href="ListBooksByAuthor?author_id=@ViewBag.id&page=@i">@i</a></li>
                                    }

                                }
                            </ul>
                        </div>
                        <!-- /store bottom filter -->
                    </div>
                    <!-- /STORE -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
        <!-- FOOTER -->
        <jsp:include page="Footer.jsp"></jsp:include>
        <!-- /FOOTER -->
        <!-- jQuery Plugins -->
        <!-- jQuery Plugins -->
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/js/bootstrap.min.js"></script>
        <script src="~/Scripts/js/slick.min.js"></script>
        <script src="~/Scripts/js/nouislider.min.js"></script>
        <script src="~/Scripts/js/jquery.zoom.min.js"></script>
        <script src="~/Scripts/js/main.js"></script>
</body>
</html>
