@using Final_PRN211_OBS_Project.Models;
@using Final_PRN211_OBS_Project.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    List<Bill> ListBill = ViewBag.ListBill;
    DAO dao = new DAO();
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">ID</th>
                            <th class="border-top-0">Username</th>
                            <th class="border-top-0">Address</th>
                            <th class="border-top-0">TelePhone</th>
                            <th class="border-top-0">Date</th>
                            <th class="border-top-0">Payment</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">Total</th>
                            <th class="border-top-0">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Bill item in ListBill)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td class="txt-oflo">@dao.GetUserByID(item.user_id.ToString()).username</td>
                                <td class="txt-oflo">@item.address</td>
                                <td class="txt-oflo">@item.telephone</td>
                                <td class="txt-oflo">@item.date.ToShortDateString()</td>
                                <td><span class="text-success">@item.payment</span></td>
                                <td>
                                    <form action="/ManagerBill/ChangeStatus?id=@item.id" method="POST">
                                        <select name="selectStatus" @(item.status == "Done" || item.status == "Rejected" ? "disabled" : "") onchange="this.form.submit()">
                                            <option value="Process" @(item.status == "Process" ? "selected" : "")>Process</option>
                                            <option value="Done" @(item.status == "Done" ? "selected" : "")>Done</option>
                                            <option value="Rejected" @(item.status == "Rejected" ? "selected" : "")>Rejected</option>
                                        </select>
                                        <input name="url" value="@ViewBag.Url" hidden>
                                    </form>
                                </td>
                                <td><span class="text-success">@item.total$</span></td>

                                <td>
                                    <div class="comment-footer d-md-flex align-items-center">
                                        <a href="/ManagerBill/BillDetail?id=@item.id" class="badge bg-primary rounded">BillDetail</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div>
                <ul class="store-pagination">
                    @for (int i = 1; i <= ViewBag.PageSize; i++)
                    {
                        if (i == ViewBag.CurrentPage)
                        {
                            <li class="active">@i</li>
                        }
                        else
                        {
                            <li><a href="/ManagerBill/Index?page=@i">@i</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
